FLASK_APP=run.py  # script that runs server
FLASK_ENV=development  # {production, testing, development}
DATABASE_URL=postgres:///dev_database_name  # URL to your database
TEST_DATABASE_URL=postgres:///test_database_name  # URL to testing database (used for integration testing)
SECRET_KEY=notsosecret  # A random SECRET_KEY, used for securing a Flask Application
SYSTEM_ADMIN_EMAIL=admin@email.com  # The admin email
SYSTEM_ADMIN_PASSWORD=admin  # The admin password
MAIN_ENDPOINT=main.index  # The main endpoint app endpoint (used for redirecting)

# These configs only matter if you want to test sending emails out.
MAIL_USERNAME=email@email.com
MAIL_PASSWORD=emailpassword
MAIL_SERVER=smtp.googlemail.com
MAIL_PORT=587
