<div class="order-items-checkout">
  <table class="table table-responsive">
    <thead>
      <th>Reativo</th>
      <th>Catálogo</th>
      <th>Lote</th>
      <th>Data de Validade</th>
      <th><b>Quantidade</b></th>
      <th><a href="#" data-toggle="tooltip" title="O total de unidades a serem inseridas em estoque. Obtido através de: Quantidade x Unidades por catálogo.">
          Total de unidades <span class="glyphicon glyphicon-question-sign"></span>
      </a></th>
    </thead>
    <tbody>
    {% for order_item in order_items %}
      <tr>
        <td>{{ order_item.item.product.name }}</td>
        <td>{{ order_item.item.catalog_number }}</td>
        <td>{{ order_item.lot_number }}</td>
        <td>{{ order_item.expiration_date.strftime('%d/%m/%Y') }}</td>
        <td>{{ order_item.amount }}</td>
        <td>{{ order_item.amount * order_item.item.units }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
